---
layout: page
title: Contacts
permalink: /contacts/
css: contacts
git: https://github.com/kalmar98
fb: https://www.facebook.com/DrinkMonstersTillDeath
email: kalmar98softuni@gmail.com

---

<section class="contacts">
    <h2>Contact Us</h2>
    <div class="medias">
        <a href="{{ page.git }}"><i class="fab fa-github"></i></a>
        <a href="{{ page.fb }}"><i class="fab fa-facebook-square"></i></a>
        <a href="mailto:{{ page.email }}"><i class="fas fa-at"></i></a>
    </div>
</section>