---
layout: page
title: Games
permalink: /games/
css: games
---

<section class="games">
    <h2>Games</h2>

    <section id="gamesContainer">

        <button onclick="addSlide(-1)"><i class="fas fa-arrow-circle-left"></i></button>
        <button onclick="addSlide(1)"><i class="fas fa-arrow-circle-right"></i></button>
        <button id="launch">Play</button>

    </section>

</section>

<section id="gameWindow" class="modal" role="dialog">
    <span class="close">&times;</span>
    <section class="modal-content">

    </section>
</section>


<script src="/js/slideshow.js"></script>
<script src="/js/launch.js"></script>