.main-nav {
    border: var(--border-main-width) solid var(--border-main-color);
}

.main-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.main-nav>ul{
    justify-content: space-between;
}

.main-nav li {
   
    list-style: none outside;
    height: 4rem;

}

.main-nav a {
    background: white;
    display: grid;
    align-items: center;
    height: 100%;
    border: var(--border-main-width) solid var(--border-main-color);
    border-bottom: none; border-top: none;
    padding: 0em 2em;
    text-decoration: none;
    color: var(--link-main-color);
}