@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
.contacts {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
  border: 1rem double #c90000;
  border-radius: 1rem;
  -webkit-animation: appear 0.5s ease;
          animation: appear 0.5s ease; }
  .contacts h2 {
    margin: 0;
    background-color: #c90000;
    font-size: 3rem;
    border: 0.5rem double black; }
  .contacts p {
    margin: 1rem auto 1rem;
    letter-spacing: 0.2rem;
    -webkit-animation: summon-shadow 0.1s 2s 2 both;
            animation: summon-shadow 0.1s 2s 2 both; }

.media {
  width: 50%;
  margin: 5rem auto;
  text-align: center;
  -webkit-animation: appear 0.5s ease;
          animation: appear 0.5s ease;
  display: grid;
  grid-template-columns: 30% 40% 30%; }
  .media .fas, .media .fab {
    font-size: 5rem;
    -webkit-animation: summon-shadow 0.1s 1s 2 both;
            animation: summon-shadow 0.1s 1s 2 both; }
    .media .fas:hover, .media .fas:hover, .media .fab:hover, .media .fab:hover {
      -webkit-animation: blur 0.1s ease-in infinite alternate;
              animation: blur 0.1s ease-in infinite alternate; }
  .media a:link {
    color: white; }
  .media a:active {
    color: white; }
  .media a:visited {
    color: white; }
