footer {
  text-align: center; }
  footer p {
    text-transform: uppercase;
    font-style: italic;
    transition: all 0.1s ease;
    opacity: 0.3; }
    footer p:hover {
      font-style: normal;
      font-weight: bold;
      cursor: none;
      opacity: 0.8; }
