.main-nav {
    border: solid var(--border-main-color);
    border-width: var(--border-main-width);
}

.main-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.main-nav>ul{
    justify-content: space-between;
}

.main-nav li {
    display: block;
    list-style: none outside;    
}

.main-nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--link-main-color);
}