@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Typography */
html {
  font-size: 12px;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 0.1em;
  color: #ffffff; }

@media (min-width: 600px) {
  html {
    font-size: 14px; } }

@media (min-width: 1260px) {
  html {
    font-size: 16px; } }

@media (min-width: 1420px) {
  html {
    font-size: 18px; } }

@media (min-width: 1660px) {
  html {
    font-size: 20px; } }

p, ul, ol, dl, table {
  margin-bottom: 1.5em; }

ul, ol {
  padding-left: 1.5em; }

h1, h2, h3 {
  margin: 0 0 0.5em 0; }

@-webkit-keyframes blur {
  0% {
    text-shadow: 0px 0px 1px #7e7e7e; }
  100% {
    text-shadow: 0px 0px 10px #ffffff; } }

@keyframes blur {
  0% {
    text-shadow: 0px 0px 1px #7e7e7e; }
  100% {
    text-shadow: 0px 0px 10px #ffffff; } }

@-webkit-keyframes flicker-weak {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }

@keyframes flicker-weak {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }

@-webkit-keyframes flicker-hard {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes flicker-hard {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }

@keyframes appear {
  0% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }

.main-nav ul {
  font-size: 1.5em;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, 1fr); }

.main-nav li {
  list-style: none outside;
  height: 4rem; }

.main-nav a {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  display: grid;
  align-items: center;
  height: 100%;
  border: 0.6em double #c90000;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top: none;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.6s cubic-bezier(0, 0.01, 0, 1.6); }

.main-nav a:hover {
  height: 120%;
  font-size: 110%;
  -webkit-animation: blur 1s ease-in-out infinite alternate;
          animation: blur 1s ease-in-out infinite alternate; }

.main-nav a:hover::before {
  bottom: auto;
  height: 100%;
  top: 0; }

.main-nav a::before {
  position: absolute;
  top: 0px;
  left: -1px;
  bottom: 0px;
  height: 0px;
  width: 101%;
  z-index: -1;
  content: '';
  background: #c90000;
  transition: all 0.4s linear; }

footer {
  text-align: center; }
  footer p {
    text-transform: uppercase;
    font-style: italic;
    transition: all 0.1s ease;
    opacity: 0.3; }
    footer p:hover {
      font-style: normal;
      font-weight: bold;
      cursor: none;
      opacity: 0.8; }

html {
  height: 100%; }
  html body {
    margin: 0 8rem;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: #000000;
    padding: 0rem 3rem; }
    html body .content {
      padding: 2rem 0; }
