@import 'variables';

.about {
    width: 70%;
    margin: 1rem auto;
    text-align: center;
    border: 1rem double $sgRed;
    border-radius: 1rem;
    animation: $appearAnim;

    h2{
        margin: 0;
        background-color: $sgRed;
        font-size: 3rem;
        border: 0.5rem double black;
    }

    article{
        display: grid;
        
        
        

        img{
            width: 100%;
            height: auto;
            border: 0.5rem ridge $borderMainColor;
        }   
    
        p{
            width: 85%;
            margin: auto auto;
            animation: summon-shadow 0.1s 2s 2 both;
            padding: 2rem;
            
        }
    }
    
    
    
    
}




