@keyframes blur {
    0% {
        text-shadow: 0px 0px 1px #7e7e7e;
    }
    100% {
        text-shadow: 0px 0px 10px #ffffff;
    }

}



@keyframes flicker-weak {
    0% {
        opacity: 1;
        
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes flicker-hard {
    0% {
        opacity: 1;
        
    }

    100% {
        opacity: 0;
    }

}

@keyframes appear {
    0% {
        transform: translateY(10vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes summon-shadow{
    0% {
        transform: translate(0);
        text-shadow: 0rem 0rem 1px #8b8b8b;
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
        text-shadow: 0.2rem 0.2rem 1px #585858;
    }
}


