@import 'variables';

.contacts {
    width: 70%;
    margin: 1rem auto;
    text-align: center;
    border: 1rem double $sgRed;
    border-radius: 1rem;
    animation: $appearAnim;

    h2{
        margin: 0;
        background-color: $sgRed;
        font-size: 3rem;
        border: 0.5rem double black;
    }

    p{
        margin: 1rem auto 1rem;
        letter-spacing: 0.2rem;
        animation: summon-shadow 0.1s 2s 2 both;
    }

    
    
}

.media{
    width: 50%;
    margin: 5rem auto;
    text-align: center;
    animation: $appearAnim;
    display: grid;
    grid-template-columns: 30% 40% 30%;


    .fas, .fab{
        font-size: 5rem;
        animation: summon-shadow 0.1s 1s 2 both;
        

        &:hover, &:hover{
            animation: blur 0.1s ease-in infinite alternate;
            
        }
    }

    
    a{
        &:link{
            color: white;
        }
        
        &:active{
            color: white;
        }
        
        &:visited{
            color: white;
        }
    }
}






