footer {
    text-align: center;

    p {
        text-transform: uppercase;
        font-style: italic;
        transition: all 0.1s ease;
        opacity: 0.3;

        &:hover {
            font-style: normal;
            font-weight: bold;
            cursor: none;
            opacity: 0.8;
        }
    }

   
}

