@import 'reset';
@import 'variables';
@import 'typography';
@import 'animations';

@import 'header';
@import 'footer';

html{
	height: 100%;
}

body {
	margin: 0 8rem;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background: var(--background-main-color, black);
	padding: 0rem 3rem;
	
}

.content {
	padding: 2rem 0;	
}


