/* Typography */

@import 'variables';

html {
	font-size: $defaultFontSize;
	font-family: $defaultFontFamily;
	letter-spacing: $defaultLetterSpacing;
	color: $textMainColor;
}

@media (min-width: 600px) {
	html { font-size: $tabletFontSize; }
}

@media (min-width: 1260px) {
	html { font-size: $laptopFontSize;}
}

@media (min-width: 1420px) {
	html { font-size: $desktopFontSize; }
}

@media (min-width: 1660px) {
	html { font-size: $hugeFontSize; }
}


p, ul, ol, dl, table {
	margin-bottom: $defaultWhitespaceSize;
}

ul, ol {
	padding-left:  $defaultWhitespaceSize;
}

h1, h2, h3 {
	margin: 0 0 $defaultWhitespaceSize / 3 0;
}
