/* Typography */

@import 'variables';
@import 'mixins';

html {
	font-family: $defaultFontFamily;
	letter-spacing: $defaultLetterSpacing;
	color: $textMainColor;
}

@include respond-to('phone'){ html{font-size: $defaultFontSize;}	}

@include respond-to('tablet'){ html{font-size: $tabletFontSize;}	}

@include respond-to('laptop'){ html{font-size: $laptopFontSize;}	}

@include respond-to('desktop'){ html{font-size: $desktopFontSize;}	}




p, ul, ol, dl, table {
	margin-bottom: $defaultWhitespaceSize;
}

ul, ol {
	padding-left:  $defaultWhitespaceSize;
}

h1, h2, h3 {
	margin: 0 0 $defaultWhitespaceSize / 3 0;
}
