@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');


$bgMainColor: #000000;
$textMainColor: #ffffff;
$sgRed: #c90000;

$linkMainColor: #c90000;

$borderMainColor: #c90000;
$borderMainWidth: 0.6em;

$defaultFontSize: 12px;
$defaultLineHeight: 1.2;
$defaultFontFamily: 'Luckiest Guy', cursive;

$defaultWhitespaceSize: 1.5em;
$defaultLetterSpacing: 0.1em;

$tabletFontSize: 14px;
$laptopFontSize: 16px;
$desktopFontSize: 20px;

$appearAnim: appear 0.5s ease;